.menuDrawerUserSection {
    margin: 16px;
}

.menuDrawerUserName {
    margin-top: 18px;
    font-size: 16px;
}

.menuDrawerUserUniversityAbbr {
    font-size: 12px;
    color: #BDBDBD;
}

.menuDrawerMenuItemExtra {
    float: right;
    font-weight: bold;
    font-size: 12px
}


.menuDrawerLogout {
    margin: 24px;
}
