.verifyPasswordForm {
    max-width: 300px;
    text-align: center;
}

.verifyPasswordFormLogo {
    cursor: default;
    display: block;
    font-size: 44px;
    margin-bottom: 12px;
}

.verifyPasswordFormDescription {
    color: #8c8c8c;
    display: block;
    font-size: 15px;
    margin-bottom: 24px;
}

.verifyPasswordFormGoToLoginContainer {
    margin: 16px;
}

.verifyPasswordFormGoToLogin {
    margin-left: 4px;
    color: var(--primary-color);
    cursor: pointer;
}

.verifyPasswordFormGoToLogin:hover {
    opacity: .8;
}
