.createPostModal {
    padding: 24px;
}

.createPostModalContent {
    max-width: 360px;
    margin: auto;
}

.createPostModalHeader {
    text-align: left;
}

.createPostModalName {
    margin: 12px;
    font-size: 14px;
}

.createPostModalTextArea {
    margin: 12px 0 12px 0;
    resize: none;
}
